.container {
    height: 80vh;
    width: 80vw;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.send-msg {
    display: flex;
    width: 100%;
}

.msg-box {
    width: 70%;
    height: 6em;
    background-color: white;
    outline: none;
    border: none;
    resize: none;
    border-radius: 0 0 0 20px;
    font-size: 2rem;
}

.btn {
    width: 30%;
    margin-left: 1%;
    border-radius: 0 0 20px 0;
    cursor: pointer;
    background-color: rgb(0, 32, 119);
    color: white;
    font-size: 2rem;
    outline: none;
}

h1 {
    color: white;
}